@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared style  */
.display-flex {
  display: flex;
}

/* Dark 2 */
.text-gray {
  color: #424242;
}

/* Dark 3 */
.text-light-gray {
  color: #727272;
}

.bg-light {
  background-color: rgba(255, 143, 14, 0.1);
}

.btn-primary {
  background-color: #ff900e;
  color: white;
  padding: 20px 24px;
  font-size: 1.25rem;
  font-weight: 600;
  border-radius: 8px;
  border: none;
}

/* Header style */
.navbar {
  justify-content: space-between;
  align-items: center;
}

.navbar h3 {
  font-size: 3rem;
  font-weight: 700;
}

.nav-item {
  list-style: none;
  margin-right: 30px;
}

.nav-link {
  text-decoration: none;
  font-weight: 500;
}

.navbar,
.banner {
  max-width: 1440px;
  margin: 0 auto;
  padding-bottom: 45px;
}

/* banner style  */
.banner-content {
  max-width: 862px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}

.banner-content h1 {
  font-size: 4rem;
  font-weight: 800;
  margin-bottom: 32px;
}

.banner-image {
  width: 100%;
}

/* Main section about Teams style */

main {
  max-width: 1440px;
  margin: 0 auto;
}

.teams {
  margin-top: 85px;
  align-items: center;
}

.team-img-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

.our-features {
  margin-left: 75px;
}

.our-features h3 {
  max-width: 468px;
}

.our-features .quick-title {
  font-size: 45px;
  font-weight: 400;
}

.our-features .of-our-title,
.features-title {
  font-size: 45px;
  font-weight: 800;
}

.features-title {
  color: #ff900e;
}

.our-features p {
  margin-bottom: 32px;
}

/* Media query for small device */
@media screen and (max-width: 576px) {
  .navbar {
    flex-direction: column;
  }

  .navbar h3 {
    font-size: 1.5rem;
  }

  .banner-content h1 {
    font-size: 2rem;
  }

  /* Main section about Teams style */
  .teams {
    flex-direction: column;
  }

  .team-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
  }

  .teams img {
    width: 100%;
  }

  .our-features {
    margin-top: 25px;
    margin-left: -5px;
  }
}

/* Media query for medium device */
@media screen and (min-width: 576px) and (max-width: 992px) {
  .teams {
    flex-direction: column;
  }

  .our-features {
    margin-top: 25px;
  }
}
