@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* shared style  */
.display-flex {
  display: flex;
}

/* Dark 2 */
.text-gray {
  color: #424242;
}

/* Dark 3 */
.text-light-gray {
  color: #727272;
}

.bg-light {
  background-color: rgba(255, 143, 14, 0.1);
}

.btn-primary {
  background-color: #ff900e;
  color: white;
  padding: 20px 24px;
  font-size: 1.25rem;
  font-weight: 600;
  border-radius: 8px;
  border: none;
}

.section-title {
  font-size: 2.8rem;
  font-weight: 700;
}

/* Header style */
.navbar {
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
}

.navbar h3 {
  font-size: 3rem;
  font-weight: 700;
}

.nav-item {
  list-style: none;
  margin-right: 30px;
}

.nav-link {
  text-decoration: none;
  font-weight: 500;
}

.navbar,
.banner {
  max-width: 1440px;
  margin: 0 auto;
  padding-bottom: 45px;
}

/* banner style  */
.banner-content {
  max-width: 862px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}

.banner-content h1 {
  font-size: 4rem;
  font-weight: 800;
  margin-top: 100px;
  margin-bottom: 32px;
}

.banner-content p {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 32px;
}

.banner-image {
  width: 100%;
}

/* Main section about Teams style */

main {
  max-width: 1440px;
  margin: 0 auto;
}

.teams {
  margin-top: 85px;
  align-items: center;
}

.team-img-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

.our-features {
  margin-left: 75px;
}

.our-features h3 {
  max-width: 468px;
  margin-bottom: 24px;
}

.our-features .quick-title {
  font-size: 45px;
  font-weight: 400;
}

.our-features .of-our-title,
.features-title {
  font-size: 45px;
  font-weight: 700;
}

.features-title {
  color: #ff900e;
}

.our-features p {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 32px;
}

/* Features related styles */
.features {
  margin-top: 140px;
  gap: 140px;
}

.features-section-title {
  font-size: 45px;
  font-weight: 800;
  border-left: 5px solid #ff900e;
  padding-left: 20px;
  margin-bottom: 24px;
}

.all-cards {
  margin-top: 30px;
}

.feature-card {
  max-width: 586px;
  padding: 30px;
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
  margin-bottom: 20px;
  border-radius: 8px;
}

.feature-card h4 {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 10px;
}

button {
  margin-top: -60%;
  margin-left: -10%;
}

button > span {
  font-size: 3rem;
  font-weight: 800;
}

#button-experience {
  font-size: 1.2rem;
  font-weight: 500;
}

/* Fact style */
.facts-container {
  margin-top: 120px;
  margin-bottom: 180px;
}

.facts-container p {
  font-size: 16px;
  font-weight: 400;
  max-width: 544px;
  margin-top: 24px;
  margin-bottom: 60px;
}

.facts {
  display: flex;
  justify-content: space-around;
}

.fact {
  width: 165px;
  height: 165px;
  border: 1px solid #ff900e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.fact .fact-icon {
  width: 32px;
  margin-bottom: 10px;
}

.fact .fact-number {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 5px;
}

.facts .fact-name {
  font-size: 16px;
  font-weight: 600;
}

/* Sponsor style */
.sponsor-container {
  margin-bottom: 120px;
}
.sponsor-content {
  max-width: 540px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}

.sponsor-content h3 {
  margin-bottom: 24px;
}

.sponsor-images {
  display: flex;
  justify-content: space-between;
}

.sponsor-images img {
  height: 50px;
  filter: grayscale(100%);
}

/* footer */
footer p {
  text-align: center;
  padding: 38px;
  font-size: 14px;
  font-weight: 400;
}

/* Media query for small device */
@media screen and (max-width: 576px) {
  body {
    margin: 8px;
  }
  .navbar {
    flex-direction: column;
  }

  .navbar h3 {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }

  .banner-content h1 {
    font-size: 2rem;
  }

  /* Main section about Teams style */
  .teams {
    flex-direction: column;
  }

  .team-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
  }

  .teams img {
    width: 100%;
  }

  .our-features {
    margin-top: 25px;
    margin-left: -5px;
  }

  /* Features styles */
  .features {
    display: flex;
    flex-direction: column;
  }

  .features img {
    width: 100%;
  }

  button {
    margin-left: 0;
  }

  /* Facts style */

  .facts {
    display: grid;
    gap: 20px;
  }

  /* Sponsor */
  .sponsor-images {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 50px;
    width: 40%;
    margin: 0 auto;
  }

  .sponsor-images img {
    height: 40px;
  }

  /* footer */
  footer p {
    font-size: 10px;
  }
}

/* Media query for medium device */
@media screen and (min-width: 576px) and (max-width: 992px) {
  .teams {
    flex-direction: column;
  }

  .our-features {
    margin-top: 25px;
  }

  /* sponsor */
  .sponsor-images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    width: 85%;
    margin: 0 auto;
  }

  /* Features styles */
  .features {
    display: flex;
    flex-direction: column;
  }

  .feature-card {
    max-width: 100%;
  }

  .features img {
    width: 100%;
  }

  button {
    margin-left: 0;
  }
}
